.seat-container {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
}


.seat-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
  /* align-self: center; */
  justify-content: space-evenly;
  padding-left: 120px;
}

.seat {

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.seat.booked {
  background-color: #17ab1c;

}